<header class="page-header">
	<div class="header-banner">
		<h1>tocariimaa's archive</h1>
	</div>
	<nav class="navbar">
		<a href="/">Homepage</a>
		<a href="/posts">Posts</a>
		<a href="/about">About</a>
	</nav>
</header>
