<footer class="page-container">
	<span>All contents on this website are <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a>-licensed unless otherwise specified.</span>
	<span>Powered by <a href="https://git.nadeko.net/tocariimaa/sitegen">sitegen</a>.</span>
</footer>
